.characterView {
	h3 {
		font-style: italic;
	}

	.characterCreate {
		margin: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		label[for="name"] {
			visibility: hidden;
		}
	}

	.character-button, input[name="name"] {
		width: 100%;
	}

	.points {
		margin-top: 30px;
		color: rgb(9,17,36);
	}
}

h2.zombieTitle {
	color: rgb(115, 173, 109);
}

.attributes {
	margin: 11px;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	label {
		margin-right: 5px;
	}
	input {
		background: transparent;
		width: 30px;
		margin: 0 5px;
		color: rgb(255, 238, 167);
		height: 40px;
		@include fontSize(24);
	}
	button {
		line-height: 0;
		border-radius: 50%;
		padding: 0;
		width: 30px;
		height: 30px;
		@include fontSize(30);
	}
}